<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=category%> Products
    </title>
</head>

<body>
    <h1>
        <%=category%> Products
    </h1>
    <% for(let item of items){ %>

        <li><a href="/product/<%=item._id%>">
                <%= item.name %>
            </a></li>
        <% } %>


            <a href="/product/new">Add new product</a>
            <% if(category !=='All' ){%>
                <a href="/product">Display all product</a>
                <% } %>



</body>

</html>